@import "tailwindcss";

@theme {
  --color-brand-50: #fdf8f6;
  --color-brand-100: #f2e8e5;
  --color-brand-200: #eaddd7;
  --color-brand-300: #e0cec7;
  --color-brand-400: #d2bab0;
  --color-brand-500: #a37c69; /* Primary */
  --color-brand-600: #8c6b5a;
  --color-brand-700: #755a4b;
  --color-brand-800: #5e483c;
  --color-brand-900: #47372d;

  --font-serif: 'Playfair Display', serif;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14% 4%;
  }

  body {
    background-color: var(--color-brand-50);
    color: var(--color-brand-900);
    font-family: var(--font-sans);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
  }
}
